.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    height: auto;
  }
  
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    max-width: 300px;
    height: 200px;
}
.cardsProjects{
display: flex;
justify-content: space-around;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    background-color: #2196F3;
    color:#ffffff;
}



h1 {
    text-align: center;
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #333;
    align-items: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

ul#nav-links {
    width: 100px;
}

li {
    justify-content: space-around;
    padding: 0px auto;
}
.btn-container {
text-align: center;
}
.button{
    padding: 20px 30px;
    background-color: brown;
    border: 1px brown;
    color: #fff;
}
.button a {
    color:white;
    text-decoration: none;
}

#projects {
    margin: 80px;
}

.title-Projects{
    text-align: center;
}

#contacts {
    font-size: 30px;
    text-align: center;
    height: 100vh;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 500px){
h1 {
    font-size: 60px;
}
}

